.wrapper {
    --search-height: 46px;
    --search-spacer-top: 9px;
    --search-button-witdh: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    background-color: var(--white);

    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-header-spacer);
}
.logo {
    min-width: 300px;
    display: flex;
    align-items: center;
}
.upload-icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}
// action
.action {
    display: flex;
    align-items: center;
}
.action-btn {
    display: inline-flex;
    font-size: 2.2rem;
    margin-left: 16px;
    color: #161823;
    background-color: transparent;
    cursor: pointer;
}

.more-btn {
    font-size: 1.6rem;
    margin-left: 16px;
    padding: 0 4px;
    background-color: transparent;
    cursor: pointer;
    svg {
        height: 20px;
        width: 20px;
    }
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 24px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    // pointer-events: none;
}
